<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Candidates Grid</title>
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta charset="utf-8">
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script><link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400%7CUbuntu:300,400,500,600,700">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/custom.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"> <a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body"> 
        <div class="preloader-item">
          <svg width="40" height="40" viewbox="0 0 40 40">
            <polygon class="rect" points="0 0 0 40 40 40 40 0"></polygon>
          </svg>
        </div>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
              <!-- RD Navbar-->
              <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                  <div class="rd-navbar-main-outer">
                    <div class="rd-navbar-main">
                      <!-- RD Navbar Panel-->
                      <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand"><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo.svg" alt="" srcset="images/logo-default-286x52.png 2x"/><img class="brand-logo-light" src="images/logo-inverse-143x26.png" alt="" srcset="images/logo-inverse-286x52.png 2x"/></a>
                        </div>
                      </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                          <li class="rd-nav-item"><a class="rd-nav-link" href="company-grid.html">Attempt Company Tests</a>

                      </li>
                         <li class="rd-nav-item"><a class="rd-nav-link" href="blog.html">Material</a>
                             <ul class="rd-menu rd-navbar-dropdown">
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Gate Study Material</a></li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Aptitude Tests</a></li>
                          <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Free Company Mock Tests</a></li>
                        </ul>

                      </li>
                         <li class="rd-nav-item"><a class="rd-nav-link" href="blog.html">Blogs</a>

                      </li>

                     
                    </ul>
                  </div>
                </div>
                      <div class="rd-navbar-aside">
                        <div class="rd-navbar-aside-item">
<!--                          <button class="button button-xs button-primary-outline button-icon button-icon-left rd-navbar-popup-toggle" data-rd-navbar-toggle="#rd-navbar-register">Sign Up</button>-->
<!--
                          <div class="rd-navbar-popup bg-gray-100" id="rd-navbar-register">
                            <h5 class="rd-navbar-popup-title">Sign Up</h5>
                            <form class="rd-form rd-mailform form-compact" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                              <div class="form-wrap">
                                <input class="form-input" id="rd-navbar-register-name" type="text" name="username" data-constraints="@Required">
                                <label class="form-label" for="rd-navbar-register-name">Username</label>
                              </div>
                              <div class="form-wrap">
                                <input class="form-input" id="rd-navbar-register-email" type="email" name="email" data-constraints="@Email @Required">
                                <label class="form-label" for="rd-navbar-register-email">E-mail</label>
                              </div>
                              <div class="form-wrap">
                                <input class="form-input" id="rd-navbar-register-password" type="password" name="password" data-constraints="@Required">
                                <label class="form-label" for="rd-navbar-register-password">Password</label>
                              </div>
                              <div class="form-wrap">
                                <input class="form-input" id="rd-navbar-register-password-confirm" type="password" name="password-confirm" data-constraints="@Required">
                                <label class="form-label" for="rd-navbar-register-password-confirm">Confirm Password </label>
                              </div>
                              <div class="form-wrap">
                                <button class="button button-block button-primary" type="submit">Create an Account</button>
                              </div>
                              <div class="form-wrap form-wrap-ally">
                                <div class="text-decoration-lines rd-navbar-popup-title"><span class="text-decoration-lines-content">or enter with</span></div>
                              </div>
                              <div class="form-wrap form-wrap-ally">
                                <div class="button-group"><a class="button button-facebook button-icon button-icon-only button-winona" href="#" aria-label="Facebook"><span class="icon mdi mdi mdi-facebook"></span></a><a class="button button-twitter button-icon button-icon-only button-winona" href="#" aria-label="Twitter"><span class="icon mdi mdi-twitter"></span></a><a class="button button-google button-icon button-icon-only button-winona" href="#" aria-label="Google+"><span class="icon mdi mdi-google"></span></a></div>
                              </div>
                            </form>
                          </div>
-->
                        </div>
                        <div class="rd-navbar-aside-item">
                          <p class="button button-xs button-primary button-icon button-icon-left rd-navbar-popup-toggle" data-rd-navbar-toggle="#rd-navbar-login">Vishwajit Nerkar</p>
<!--
                          <div class="rd-navbar-popup bg-gray-100" id="rd-navbar-login">
                            <h5 class="rd-navbar-popup-title">Login</h5>
                            <form class="rd-form form-compact">
                              <div class="form-wrap">
                                <input class="form-input" id="rd-navbar-login-email" type="email" name="email" data-constraints="@Email @Required">
                                <label class="form-label" for="rd-navbar-login-email">E-mail</label>
                              </div>
                              <div class="form-wrap">
                                <input class="form-input" id="rd-navbar-login-password" type="password" name="password" data-constraints="@Required">
                                <label class="form-label" for="rd-navbar-login-password">Password</label>
                              </div>
                              <div class="form-wrap">
                                <button class="button button-block button-primary" type="submit">Login</button>
                              </div>
                            </form>
                          </div>
-->
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
      </header>
      
        
        <table class="table table-primary table-responsive-md container text-center">
            <thead>
              <tr>
                <th>Test Name</th>
                <th>Attempted On</th>
                <th>Score</th>
                <th>Result</th>
              </tr>
            </thead>
            <tbody>
            <tr>
                <td>Accenture Test 1</td>
                <td>18 - 02 - 2009</td>
                <td>59/70&emsp;<div class="button button-primary button-round-1" style="padding: 8px">Certificate</div></td>
                <td><span style="color: seagreen">Pass</span></td>
              </tr>
              <tr>
                <td>Item #2</td>
                <td>Description</td>
                <td>Discount</td>
                <td>$3.00</td>
              </tr>
              <tr>
                <td>Accenture Test 1</td>
                <td>18 - 02 - 2009</td>
                <td>59/70&emsp;<div class="button button-primary button-round-1" style="padding: 8px">Certificate</div></td>
                <td><span style="color: seagreen">Pass</span></td>
              </tr>
              <tr>
                <td>Item #4</td>
                <td>Description</td>
                <td>Tax</td>
                <td>$4.00</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>All Items</td>
                <td>Description</td>
                <td>Your Total</td>
                <td>$13.00</td>
              </tr>
            </tfoot>
          </table>
        
        <p style="color: #000">&emsp;&emsp;Seems you need to Focus More and Improve your skills. Go Premium and Assure your path to Success</p><br>
      <!-- Page Footer-->
      <footer class="section footer-creative context-dark">
        <div class="footer-creative-main">
          <div class="container" style="width: 50%;margin: 0 auto">
            <div class="row row-50 justify-content-lg-between">
                   <div class="col-sm-12 text-center">
                <p class="footer-creative-title">Subscribe Us!</p>
                <div class="footer-creative-divider"></div>
             <form data-form-output="form-output-global" data-form-type="contact" method="post" action="#">
                    <div class="form-wrap">
                      <label class="form-label" for="contact-email">E-mail</label>
                      <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Required @Email" style="border-radius: 24px;">
                    </div>

                    <div class="form-wrap">
                      <button class="button button-primary button-circle" type="submit" style="background-color: #fff;color: #000">Subscribe</button>
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
          
        <div class="footer-creative-aside">
          <div class="container">
            <p class="rights"><span>Proclis</span><span>&nbsp;&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a><span>.</span></p>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>